<html lang="en" ng-app="myApp">
<style>
	table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f1f1c1;
	}
</style>
<body>
<h1> view to display details of a single match</h1>
<div ng-controller="loadDetail as ld" ng-init="ld.loadSingledata()" >
<!--ng-controller="loadDetail as ld" ng-init="ld.loadSingledata()"
-->
<table style="width:50%">
		  <tr>
		    <th>Team 1</th>
		    <th>Score</th>
		    <th>Date</th>
		  </tr>
		  <tr ng-repeat="x in Matchdata.rounds[0].matches" 
		  ng-if="x.team1.code ===code">
		 
		  	<td>{{x.team1.name}} 
			</td>
		    <td>{{x.score1}}</td> 
		    <td>{{x.date}}</td>
		  </tr>
		  
		</table>
</div>
<script  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script type="text/javascript" src="C:/nodeJSProject/Edwisor-tasks/AngularJs-SPA/controller/controller.js"></script>
</body>
</html>