<!DOCTYPE html>
<html ng-app="myApp">
<style>
	table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: #f1f1c1;
	}
</style>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
<h1> Overall summary of the matches</h1>
<div ng-controller="statsCtrl">
	<table style="width:50%">
		  <tr>
		  <th>Match Name</th>
		  <th>Highest Score </th>
		  <th>Lowest Score </th>
		  </tr>
		  <tr ng-repeat="y in matchInfo">
		  <td><span ng-bind="y.mName"></span>	</td>
		  <td><span ng-bind="y.max"></span></td> 
		  <td><span ng-bind="y.min"></span></td>
		   </tr>
		  
		</table>
</div>
 <script type="text/javascript" src="C:/nodeJSProject/Edwisor-tasks/AngularJs-SPA/controller/controller.js">
 </script>
 <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
</body>
</html>